<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name%>
  </div>
  <div class="field">
    <%= f.label :remarks%><br />
    <%= f.text_area :remarks%>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select("birthday", :order => [:day, :month, :year], :start_year => 1980, :end_year => Time.now.year - 12) %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %><br />
  </div>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
