<h1>Comments</h1>
<hr />
<ul>
<% @comments.each do |comment| %>
  <li>
    <%= link_to comment.email, article_comment_path(@article, comment), :id => "comment-#{comment.id}" %>
    <ul>
      <li><%= comment.body.truncate(10)%></li>
    </ul>
  </li>
<% end %>
</ul>
<%= will_paginate @comments %>  
<br />

<%= link_to 'New Comment', new_article_comment_path %> |
<%= link_to "Back to '#{@article.title}'", @article  %>
