<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @comment.email%>
</p>

<p>
  <b>Comment:</b><br />
  <%= @comment.body%>
</p>

<p>
  <b>Comment Date:</b>
  <%= @comment.comment_date%>
</p>

<% if author_signed_in? and @comment.email == current_author.email %>
  <%= link_to 'Edit', edit_article_comment_path(@article, @comment) %> |
<% end %>
<% if current_author == @article.author %>
  <%= link_to 'Delete', article_comment_path(@article, @comment), :method => :delete, :confirm => "Are you sure?" %> |
<% end %>
<%= link_to 'Back', article_path(@article) %>
