<p id="notice"><%= notice %></p>

<h1>
  <%= @article.title %>
</h1>

<p id="article_body">
  <%= @article.body%>
</p>

<p>
<%= @article.status %> by:
  <%= link_to (image_tag @article.author.photo.url(:thumb), :size => "30x30"), author_path(@article.author), :id => "imglnk" %> 
  <%= @article.author.full_name %>
</p>

<p>
  <%= @article.date_posted %>
</p>

<%= link_to "Comments (#{@article.comments.size})", article_path(@article), :remote => true, :id => "commlistlnk" %> |
<% if current_author == @article.author %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), :method => :delete, :confirm => "Are you sure?" %> |
<% end %>
<%= link_to 'Back to Articles', articles_path %>

<div id="comments_content">

</div>
