<h1>Authors</h1>
<hr />
<ul>
<% @authors.each do |author| %>
  <li class="lists">
    <%= image_tag author.photo.url(:thumb), :size => "50x50" %>  
    <%= link_to author.full_name, author %>
    <%= "(You!)" if current_author == author %>
  </li>
<% end %>
</ul>
<%= will_paginate @authors %>

<% if !author_signed_in? %>
<br />
<%= link_to 'New Author', new_author_registration_path %>
<% end %>
