<p id="notice"><%= notice %></p>
<%= image_tag @author.photo.url(:medium) %>

<p>
  <b>Author:</b>
  <%= @author.full_name %>
</p>

<p>
  <b>Remarks:</b>
  <%= @author.remarks%>
</p>

<p>
  <b>Birthday:</b>
  <%= @author.birthday%>
</p>

<p>
  <b>Articles:</b>
  <ul>
  <% @author.articles.each do |article|%>
     <li title="<%= article.body.truncate(30) %>"><%= link_to article.title, article_path(article) %></li>
  <%end%>
  
  </ul>
</p>


<% if current_author == @author %>
<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Delete', author_path(@author), :method => :delete, :confirm => "Are you sure?" %> |
<% end %>
<%= link_to 'Back', authors_path %>
