<p id="notice"><%= notice %></p>
<div id="wrapper">
<div id="imagePanel">
<%= image_tag @author.photo.url(:medium) %>
</div>
<div id="authorInfo">
<p>
  <b><%= @author.full_name %></b>
</p>

<p>
  <b>Remarks:</b>
  <%= @author.remarks%>
</p>

<p>
  <b>Birthday:</b>
  <%= @author.birthday%>
</p>

<p>
  <b><%= "Articles:" if @author.articles.size > 0 %></b>
  <ul>
  <% @author.articles.each do |article|%>
     <% if article.status == "Posted" or article.author == current_author %>
     <li title="<%= article.body.truncate(30) %>">&raquo; <%= link_to article.title, article_path(article) %>
        <span class="draft"><%= "(Draft)" unless article.status == "Posted" %></span>
     </li>
     <% end %>
  <%end%>
  
  </ul>
</p>
</div>
</div>
<div class="clear"></div>
<% if current_author == @author %>
<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Delete', author_path(@author), :method => :delete, :confirm => "Are you sure?" %> |
<% end %>
<%= link_to 'Back to Authors', authors_path %>
